@tailwind base;
@tailwind components;
@tailwind utilities;

.flash-alert {
    padding: 0px 50px;
    margin: 5px auto;
    height: 5%;
    grid-row-start: 2;
    animation: alert 3s linear none;
    opacity: 0;
    transition: all .1s ease-in-out;
}

.flash-alert-long {
    padding: 0px 50px;
    margin: 5px auto;
    height: 5%;
}

@keyframes alert {
    0%,
    100% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        display: none;
    }
}

.post-title {
    display: block;
    width: 70%;
}

.actions {
    display: flex;
    justify-content: end;
    width: 30%;
    max-height: 35px;
}
